<div class="row comment_actions_container">
	<div class="col-lg-1 col-md-2 comment_action">
		<label> (0) </label><i class="fa fa-thumbs-up" aria-hidden="true"></i>
	</div>
	<div class="col-lg-1 col-md-2 comment_action">
		<label> (0) </label><i class="fa fa-thumbs-down" aria-hidden="true"></i>
	</div>
	<div class="col-lg-1 col-md-2 comment_action">
		<label> (0) </label><i class="fa fa-comment" aria-hidden="true"></i>
	</div>
	<div class="col-lg-1 col-md-2 comment_action">
		<label> (0) </label><i class="fa fa-share" aria-hidden="true"></i>
	</div>
</div>