<div
	class="col-lg-9 col-md-9 col-sm-12 col-xs-12 cretae_problem_container">
	<form role="form" method="post" name="create_problem_form" novalidate>
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group">
				<label for="search_college">Upload Cover</label><i
					class="fa fa-info-circle info_icon" aria-hidden="true"
					tooltip-placement="top"
					uib-tooltip="EPIC Number mentioned on the Voter ID Card"></i>
				<div class="problem_cover_photo_content">
					<label class="problem_cover_file_upload" for="file-upload"
						ng-if="!logProblem.coverPhotoFile">
						<div class="btn app_btn cover_photo_btn">Choose Cover</div>
					</label>
					<file-upload callback="logProblem.uploadCover" type="Single"></file-upload>
					<img class="problem_cover_photo" show-preview
						file="logProblem.coverPhotoFile" ng-if="logProblem.coverPhotoFile" />
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group">
				<label for="search_college">What is your grievance?</label><i
					class="fa fa-info-circle info_icon" aria-hidden="true"
					tooltip-placement="top"
					uib-tooltip="EPIC Number mentioned on the Voter ID Card"></i> <input
					type="text" name="grivience_name"
					ng-model="logProblem.grivienceName"
					placeholder="Type your grievance" class="form-control"
					ng-required="true" ng-blur="logProblem.generateTags()">
				<div class="problem_desc_editor_content">
					<label for="search_college">Could you elaborate on it?</label><i
						class="fa fa-info-circle info_icon" aria-hidden="true"
						tooltip-placement="top"
						uib-tooltip="EPIC Number mentioned on the Voter ID Card"></i>
					<div class="problem_desc_editor_container">
						<trix-editor class="trix-content" angular-trix
							ng-model="logProblem.grivienceDescription"></trix-editor>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group">
				<label for="search_college">Is it related to one of these?</label><i
					class="fa fa-info-circle info_icon" aria-hidden="true"
					tooltip-placement="top"
					uib-tooltip="EPIC Number mentioned on the Voter ID Card"></i> <select
					class="form-control" name="grivience_type"
					ng-model="logProblem.grivienceType"
					ng-options="problemType.problemTypeName for problemType in logProblem.problemTypesResults"
					ng-required="true">
					<option value=''>Select grievance type</option>
				</select>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group">
				<label for="search_college">Where it located?</label><i
					class="fa fa-info-circle info_icon" aria-hidden="true"
					tooltip-placement="top"
					uib-tooltip="EPIC Number mentioned on the Voter ID Card"></i> <input
					type="text" name="located_in" ng-model="logProblem.locatedIn"
					placeholder="Where it located" class="form-control"
					ng-required="true" value="" ng-keyup="logProblem.searchLocation()">

				<div ng-if="logProblem.showLocationSearchBox"
					class="search_locations_container">
					<div class="search_location"
						ng-repeat="searchLocation in logProblem.searchedLocations"
						ng-class="{'pin_location': logProblem.selectedLocation==searchLocation}"
						ng-click="logProblem.selectLocation(searchLocation)">
						<label> {{searchLocation.locationName}}
							&nbsp;({{searchLocation.locationType}}) </label>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group">
				<label for="search_college">What are the impacts?</label><i
					class="fa fa-info-circle info_icon" aria-hidden="true"
					tooltip-placement="top"
					uib-tooltip="EPIC Number mentioned on the Voter ID Card"></i>
				<div class="row" id="problem_impacts_row">
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<select class="form-control"
							ng-model="logProblem.noOfAffectedCitizens"
							ng-options="key as value for (key,value) in logProblem.noOfAffectedCitizensData"
							ng-required="true">
							<option value=''>Select No of affected citizens</option>
						</select>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<select class="form-control" ng-model="logProblem.moneyAtStake"
							ng-options="key as value for (key,value) in logProblem.moneyAtStakeData"
							ng-required="true">
							<option value=''>Select Money at stake</option>
						</select>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group">
				<label for="search_college">Tags</label><i
					class="fa fa-info-circle info_icon" aria-hidden="true"
					tooltip-placement="top"
					uib-tooltip="EPIC Number mentioned on the Voter ID Card"></i>
				<tags-input ng-model="logProblem.tags"> </tags-input>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group">
				<button type="button" class="btn app_btn" id="login-btn"
					ng-disabled="create_problem_form.$invalid"
					ng-click="logProblem.saveProblem()">Create Problem</button>
			</div>
		</div>
	</form>
</div>
<div
	class="col-lg-3 col-md-3 col-sm-12 col-xs-12 relative_problems_container"
	id="problem_selection_container">
	<div class="row problem_selection_content">
		<div ng-repeat="eachProblem in logProblem.problems"
			class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="problem">
				<div class="row problem_name_severity">
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 problem_severity">
						<div class="problem_severity_circle {{eachProblem.severity}}">
							<label>{{eachProblem.severityLevel}}</label>
						</div>
					</div>
					<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 problem_name">
						<label>{{eachProblem.problemName}}</label>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 problem_located_in">
						<i class="fa fa-map-marker" aria-hidden="true"></i><label>{{eachProblem.locatedIn}}</label>
					</div>
				</div>
				<div class="row problem_short_actions">
					<div class="col-xs-4 problem_short_action">
						<i class="fa fa-map-marker" aria-hidden="true"></i> <label>
							100 </label>
					</div>
					<div class="col-xs-4 problem_short_action">
						<i class="fa fa-map-marker" aria-hidden="true"></i> <label>
							100 </label>
					</div>
					<div class="col-xs-4 problem_short_action">
						<i class="fa fa-share-alt" aria-hidden="true"></i> <label>
							100 </label>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>