<div class="sign-up-content">
	<form>
		<div layout="row">
			<div flex="100" flexXs="100" class="sign-up-content-container">
				<table style="width: 100%" cellspacing="5">
					<caption>Validate Elector (Voter) Information</caption>
					<tr>
						<td><md-input class="signup_input"
								[(ngModel)]="referenceName" type="text"
								placeholder="Elecotr's (Voter) ID" name="referenceName">
							<span md-prefix> <i
								class="material-icons login-input-icon">person</i> &nbsp;
							</span> </md-input></td>
					</tr>
					<tr>
						<td><md-select class="signup_input_select"
								placeholder="Date Of Birth"> <md-option
								*ngFor="let year of years" [value]="year"> {{ year
							}} </md-option> </md-select></td>
					</tr>
					<tr>
						<td colspan="2" align="center">
							<button md-raised-button class="login_signin_button"
								routerLink="../userValidation">Validate Elector</button>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</form>
</div>
