<div class="container-fluid wrapper" id="signup-container">
	<div class="row" id="signup_bg_row">
		<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" id="signup_bg_cell">
			<div id="app_moto_img">
				<div class="app_signup_moto">
					Over <label class="moto_highlite">1,000 problems</label> are
					reported <label class="moto_highlite">every minute</label> across
					India. <br /> Care to be a part in resolving those and create
					history?
				</div>
				<img class="img-responsive" src="assets/voter_id_card.png"
					id="signup_bg_img">
				<div class="app_signup_moto">
					Join hands and be a part of <label
						class="moto_highlite app_name_font">MyIndia</label> and make India
					better! <br /> Jai Hind.
				</div>
			</div>
		</div>
		<div id="signup_form" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
			<form role="form" method="post" name="signup_form"
				ng-if="!$state.includes('signIn')">
				<div class="form-group app_name_img" novalidate>
					<img src="assets/app_icon.jpg"> &nbsp; &nbsp; <label>
						MyIndia</label>
				</div>
				<div ui-view></div>
				<div class="form-group connected_row">
					<label class='sign_up_connect_lbl'>Already connected?</label>
					<button type="button" class="btn app_btn" ng-click="signUp.gotoSignIn()"
						id="login-btn">Get Going</button>
				</div>
			</form>
		</div>
	</div>
</div>
