<div class="sign-up-content">
	<form [formGroup]="userAccountSetupForm">
		<div layout="row">
			<div flex="100" flexXs="100" class="sign-up-content-container">
				<table style="width: 100%" cellspacing="5">
					<caption>Elector (Voter) Account Information</caption>
					<tr>
						<td><md-input class="signup_input"
								[(ngModel)]="loginUserName" type="text"
								placeholder="User Name" name="loginUserName" [formControl]="userAccountSetupForm.controls['loginUserName']" required>
							<span md-prefix> <i
								class="material-icons login-input-icon">person</i> &nbsp;
							</span> </md-input>
							<div  style="color:red; font-size:13px !important;" *ngIf="userAccountSetupForm.controls['loginUserName'].hasError('required') && userAccountSetupForm.controls['loginUserName'].touched" class="alert alert-danger">You must provide a username.</div>
						</td>
					</tr>
					<tr>
						<td><md-input class="signup_input"
								[(ngModel)]="loginUserPassword" type="password"
								placeholder="Password" name="loginUserPassword" [formControl]="userAccountSetupForm.controls['loginUserPassword']" required>
							<span md-prefix> <i
								class="material-icons login-input-icon">lock</i> &nbsp;
							</span> </md-input>
							<div  style="color:red; font-size:13px !important;" *ngIf="userAccountSetupForm.controls['loginUserPassword'].hasError('required') && userAccountSetupForm.controls['loginUserPassword'].touched" class="alert alert-danger">You must provide a password.</div>

							<div  style="color:red; font-size:13px !important;" *ngIf="userAccountSetupForm.controls['loginUserPassword'].hasError('minlength') && userAccountSetupForm.controls['loginUserPassword'].touched" class="alert alert-danger">Password must have a minimum length of 8.</div>
						</td>
					</tr>
					<tr>
						<td><md-input class="signup_input"
								[(ngModel)]="loginUserConfirmPassword" type="password"
								placeholder="Confirm Password" name="loginUserConfirmPassword" [formControl]="userAccountSetupForm.controls['loginUserConfirmPassword']" required>
							<span md-prefix> <i
								class="material-icons login-input-icon">lock</i> &nbsp;
							</span> </md-input>
							<div  style="color:red; font-size:13px !important;" *ngIf="userAccountSetupForm.controls['loginUserConfirmPassword'].hasError('required') && userAccountSetupForm.controls['loginUserConfirmPassword'].touched" class="alert alert-danger">You must confirm the password.</div>
						</td>
					</tr>
					<tr>
						<td colspan="2" align="center">
							<button [disabled]="!userAccountSetupForm.valid"  md-raised-button class="login_signin_button"
								routerLink="../userValidation">Create Account</button>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</form>
</div>
