.comment_box_container {
	padding: 10px;
}

.comment_box_container .textbox {
	padding: 0px !important;
}

.comment_box_container .textbox textarea {
	width: 100%;
	height: 79px;
	box-shadow: 1px 5px 0px 1px rgba(0, 0, 0, .075);
	border-radius: 10px 0px 0px 10px !important;
	display: block;
	width: 100%;
	padding: 5px;
	font-size: 14px !important;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
		ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
		.15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	border: 1px solid #ccc;
	resize: none;
	border-right: none;
}

.comment_box_container .addons {
	padding: 0px !important;
	height: 100%;
	box-shadow: 1px 5px 0px 1px rgba(0, 0, 0, .075) !important;
	border-radius: 0px 10px 10px 0px !important;
	border: 1px solid #ccc;
	background-color: white;
	border-right: none;
}

.comment_box_container .addons .row {
	height: 39px;
	border-bottom: 1px solid #ccc;
}

.comment_box_container .addons .addon {
	padding-top: 12px;
	height: 100%;
	border-right: 1px solid #ccc;
}

.comment_box_container .send_btn {
	padding-top: 20px;
}

.comment_box_container .send_btn button {
	width: 85px;
	height: 46px;
	letter-spacing: 1px;
	font-size: 19px;
}