<div class="comment_box_container">
	<div class="row margin0">
		<div class="col-lg-8 col-md-7 col-sm-7 col-xs-5 textbox">
			<textarea ng-model="commentBox.commentText"></textarea>
		</div>
		<div class="col-lg-2 col-md-3 col-sm-3 col-xs-5 addons">
			<div class="row margin0">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 addon">
					<i class="fa fa-picture-o" aria-hidden="true"></i>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 addon">
					<i class="fa fa-video-camera" aria-hidden="true"></i>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 addon">
					<i class="fa fa-video-camera" aria-hidden="true"></i>
				</div>
			</div>
			<div class="row margin0">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 addon">
					<i class="fa fa-link" aria-hidden="true"></i>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 addon">
					<i class="fa fa-meh-o" aria-hidden="true"></i>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 addon">
					<i class="fa fa-video-camera" aria-hidden="true"></i>
				</div>
			</div>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 send_btn">
			<button type="button" class="btn app_btn" ng-click="commentBox.sendComment()">Ask</button>
		</div>
	</div>
</div>