<md-toolbar class="location-change-toolbar">
<div class="location-change-toolbar-header-name">
	<md-icon class="app-toolbar-icon">place</md-icon>
	<span class="location-change-title"> Change Location </span>
</div>
<div class="location-change-toolbar-header-buttons">
	<button md-fab class="change-location-close"
		(click)="dialogRef.close()">
		<md-icon>close circle</md-icon>
	</button>
	<button md-fab class="change-location-ok" (click)="setLocation()">
		<md-icon>check circle</md-icon>
	</button>
</div>
</md-toolbar>
<div class="change-location-content">
	<div>
		<md-input [(ngModel)]="locationText" type="text"
			placeholder="Search Location" class="location-search-input" (keyup)="locationSearchByInput($event)">
		<span md-prefix> <i class="material-icons app-input-icon">search</i>
			&nbsp;
		</span> </md-input>
	</div>
	<div class="search-results">
		<div *ngFor="let result of searchResults" (click)="setLocationSelected(result.locationName)">{{result.locationName}} &nbsp;&nbsp;({{result.locationType}})</div>
	</div>
</div>