<div>

	<h4>User Lcoation</h4>
	
	Country: TBD
	<br/>
	State: TBD
	<br/>
	District: TBD
	<br/>
	Select Village/MC/M/TP: 
		<select>
		    <optgroup label="Category 1">
		        <option>Item 1</option>
		        <option>Item 2</option>
		    </optgroup>
		    <optgroup label="Category 2">
		        <option>Item 3</option>
		        <option>Item 4</option>
		    </optgroup>
		</select>
	<br/>
	<button (click)="validateUser()">Validate User</button>

</div>

<!--
<a routerLink="/" >Home</a>
<a routerLink="/about" >About</a> -->