<div id="app_mobile_header">
	<div class="row" id="footer_nofitication_box">
		<div class="col-xs-2 footer_nofitication_icon">
			<button class="btn btn-default">
				<span class="glyphicon glyphicon-globe"></span> <span
					class="badge badge-notify">3</span>
			</button>
		</div>
		<div class="col-xs-2 footer_nofitication_icon">
			<button class="btn btn-default">
				<span class="glyphicon glyphicon-flag"></span> <span
					class="badge badge-notify">3</span>
			</button>
		</div>
		<div class="col-xs-2 footer_nofitication_icon">
			<button class="btn btn-default">
				<span class="glyphicon glyphicon-comment"></span> <span
					class="badge badge-notify">3</span>
			</button>
		</div>
		<div class="col-xs-2 footer_nofitication_icon">
			<button class="btn btn-default">
				<span class="glyphicon glyphicon-user"></span> <span
					class="badge badge-notify">3</span>
			</button>
		</div>
		<div class="col-xs-2 footer_nofitication_icon">
			<button class="btn btn-default">
				<span class="glyphicon glyphicon-map-marker"></span>
			</button>
		</div>
		<div class="col-xs-2 footer_nofitication_icon"
			ng-click="showFooterSearchBox()">
			<button class="btn btn-default">
				<span class="glyphicon glyphicon-search"></span>
			</button>
		</div>
		<div class="footer_search_bar_container"
			ng-show="footer.showSearchBox">
			<input type="text" class="form-control" placeholder="Search"
				ng-model="footer.searchTerm"
				my-india-enter-key="footer.gotoSearch()"
		</div>
	</div>
</div>