.search_container {
	margin-left: 0px !important;
	margin-right: 0px !important;
}

.slide-animate {
	width: 100%;
	height: 100%;
	background-color: red;
}

.search-item-img {
	float: left;
}

.search-item-name-sub-type {
	float: left;
	max-width: 270px;
	padding-left: 10px;
	height: 50px;
}

.search-item-img img {
	vertical-align: middle;
}

.search-item-img-name {
	padding-left: 0px !important;
	padding-right: 0px !important;
	width: 100%;
}

.search-item {
	height: 100%;
	line-height: 50px;
	margin-bottom: 10px;
	cursor: pointer;
	border-radius: 5px;
	background: rgb(221, 220, 220);
	margin-left: 10px;
	min-width: 340px !important;
	PADDING-LEFT: 10px !important;
	padding-right: 10px !important;
	padding-top: 10px !important;
	padding-bottom: 15px !important;
}

.search-item img {
	display: inline-block;
	width: 50px;
	vertical-align: middle;
	border-radius: 50%;
}

.search-item-name {
	letter-spacing: 1px;
	cursor: pointer;
	line-height: 30px;
}

.search-item-sub-type {
	letter-spacing: 1px;
	cursor: pointer;
	line-height: 23px;
	font-size: 13px;
}

.search-item:HOVER {
	background: rgb(229, 194, 194);
}

.search_object_tab:HOVER {
	background-color: #f94c59;
	color: #ebebeb;
}

.search_objects_tab {
	background-color: white;
	padding: 0px !important;
}

.search_object_tab {
	border-bottom: 1px solid #d7c7c9;
	padding: 15px;
	cursor: pointer;
}

.search_object_tab_icon {
	padding-right: 10px;
	cursor: pointer;
}

.search_object_tab_icon img {
	width: 40px;
	height: 40px;
	border: 2px solid black;
	border-radius: 50%;
	padding: 6px;
	background-color: #ebebeb;
	cursor: pointer;
}

.search_object_tab_name_count {
	text-align: center;
	padding-top: 9px;
	color: #f94c59;
	cursor: pointer;
}

.search_object_tab_name {
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 1px;
	cursor: pointer;
}

.search_object_tab_count {
	padding-left: 8px;
	cursor: pointer;
}

.search_objects_tab_content {
	padding: 20px;
}