<md-toolbar class="app-toolbar"> <md-icon
	class="app-toolbar-icon" style="padding-right: 50px;">menu</md-icon> <md-card class="app_logo_card">
<img md-card-image src="assets/logo.png" class="app_logo_img"> </md-card> <span
	class="app_name">MyIndia</span> <span class="user_location">
	Pulipadu,Darsi </span> <md-icon class="edit_location_icon"
	(click)="openChooseLocationDailog()">edit_location</md-icon> <span
	class="fill-remaining"></span> <md-input class="search_container"
	[(ngModel)]="gloablSearhText" type="text"
	placeholder="Search In MyIndia....." (keyup)="globalSearch($event)"> <span md-prefix> <i
	class="material-icons app-input-icon">search</i> &nbsp;
</span> </md-input>
<button md-raised-button class="login_signin_button" style="color: black !important;
    font-size: 12px !important;" routerLink="signIn">Sign in/Sign up</button>
</md-toolbar>
