<md-toolbar class="app-toolbar"> <md-icon
	class="app-toolbar-icon" style="padding-right: 50px;">menu</md-icon> <md-card class="app_logo_card">
<img md-card-image src="assets/logo.png" class="app_logo_img"> </md-card> <span
	class="app_name">MyIndia</span> <span class="user_location">
	Pulipadu,Darsi </span> <md-icon class="edit_location_icon"
	(click)="openChooseLocationDailog()">place</md-icon> <span
	class="fill-remaining"></span> <md-input class="search_container"
	[(ngModel)]="gloablSearhText" type="text"
	placeholder="Search In MyIndia....."> <span md-prefix> <i
	class="material-icons app-input-icon">search</i> &nbsp;
</span> </md-input>
<button md-raised-button class="login_signin_button">Register</button>
<button md-raised-button class="login_signin_button">Login</button>
</md-toolbar>
<md-toolbar class="app-toolbar"> <md-icon
	class="app-toolbar-icon" style="padding-right: 50px;">menu</md-icon> <md-card class="app_logo_card">
<img md-card-image src="assets/logo.png" class="app_logo_img"> </md-card> <span
	class="app_name">MyIndia</span> <span class="user_location">
	Pulipadu,Darsi </span> <md-icon class="edit_location_icon"
	(click)="openChooseLocationDailog()">place</md-icon> <span
	class="fill-remaining"></span> <md-input class="search_container"
	[(ngModel)]="gloablSearhText" type="text"
	placeholder="Search In MyIndia....."> <span md-prefix> <i
	class="material-icons app-input-icon">search</i> &nbsp;
</span> </md-input>
<md-icon class="logged-in-user-icon">person</md-icon>
<span class="logged-in-user-name">
		Kandula Kasireddy
</span>
<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" class="logged-in-user-options-icon"><path d="M5 8l4 4 4-4z"/></svg>
</md-toolbar>
<md-toolbar class="app-toolbar"> <md-card class="app_logo_card">
<img md-card-image src="assets/logo.png" class="app_logo_img"> </md-card> <span
	class="app_name">MyIndia</span> <span class="user_location">
	Pulipadu,Darsi </span> <md-icon class="edit_location_icon"
	(click)="openChooseLocationDailog()">place</md-icon> <span
	class="fill-remaining"></span> <md-input class="search_container"
	[(ngModel)]="gloablSearhText" type="text"
	placeholder="Search In MyIndia....."> <span md-prefix> <i
	class="material-icons app-input-icon">search</i> &nbsp;
</span> </md-input>
<button md-raised-button class="login_signin_button">Register</button>
<button md-raised-button class="login_signin_button">Login</button>
</md-toolbar>
<md-toolbar class="app-toolbar"> <md-card class="app_logo_card">
<img md-card-image src="assets/logo.png" class="app_logo_img"> </md-card> <span
	class="app_name">MyIndia</span> <span class="user_location">
	Pulipadu,Darsi </span> <md-icon class="edit_location_icon"
	(click)="openChooseLocationDailog()">place</md-icon> <span
	class="fill-remaining"></span> <md-input class="search_container"
	[(ngModel)]="gloablSearhText" type="text"
	placeholder="Search In MyIndia....."> <span md-prefix> <i
	class="material-icons app-input-icon">search</i> &nbsp;
</span> </md-input>
<md-icon class="logged-in-user-icon">person</md-icon>
<span class="logged-in-user-name">
		Kandula Kasireddy
</span>
<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" class="logged-in-user-options-icon"><path d="M5 8l4 4 4-4z"/></svg>
</md-toolbar>





