<header class="app-bar fixed-top darcula" data-role="appbar">
    <div>
        <a href="/" class="app-bar-element branding"><img src="assets/logo.png" style="height: 28px; display: inline-block; margin-right: 10px;"> My India</a>
        <ul class="app-bar-menu small-dropdown">
            <li data-flexorderorigin="0" data-flexorder="1">
                <a href="#" class="dropdown-toggle">Pulipadu</a>
                <ul class="d-menu" data-role="dropdown" data-no-close="true">
                    <li>
                        <div class="input-control text">
                            <input type="text" placeholder="Search..." class="location_search">
                        </div>
                    </li>
                    <li class="divider"></li>
                    <li><a href="typography.html">Hyderabad</a></li>
                    <li><a href="tables.html">Chennai</a></li>
                    <li><a href="inputs.html">Delhi</a></li>
                    <li><a href="buttons.html">Kolkata</a></li>
                    <li><a href="images.html">Mumbai</a></li>
                    <li><a href="font.html">Vizag</a></li>
                </ul>
            </li>
        </ul>
        <ul class="app-bar-menu place-right" data-flexdirection="reverse">
            <li>
                <div class="input-control text search_box">
                    <input type="text" placeholder="Start your search here..." class="search_box_text">
                </div>
            </li>
            <li><a routerLink="/signUp"><span class="mif-user icon">&nbsp;</span>Sign Up</a></li>
        </ul>
        <nav class="app-bar-pullmenu hidden flexstyle-app-bar-menu" style="display: none;">
            <ul class="app-bar-pullmenubar hidden app-bar-menu"></ul>
        </nav>
    </div>
</header>