.app-toolbar {
	padding-left: 0px !important;
	background-color: #3c3f41 !important;
	color: ghostwhite;
	letter-spacing: 1px;
	font-size: 20px;
	margin-bottom:10px;
}

.app-toolbar-icon {
	padding: 0 7px;
	font-size: 35px;
	padding-top: -5px !important;
	margin-top: -8px;
}

.fill-remaining {
	flex: 1 1 auto;
}

.app_logo_card {
	background-color: transparent;
	border: none !important;
	height: 55px !important;
	padding-left: 35px;
	padding-right: 27px;
	box-shadow: none !important;
}

.app_logo_img {
	width: 44px;
	height: 40px;
	margin-top: 10px !important;
}

.app_name {
	margin-top: -3px;
}

.user_location {
	padding-left: 55px;
	font-size: 16px;
}

.login_signin_button {
	color: ghostwhite !important;
    margin-left: 1px;
    font-size: 14px;
    border-radius: 5px;
    letter-spacing: 1px;
}

.edit_location_icon {
	padding-top: 6px !important;
	padding-left: 6px !important;
	font-size: 17px;
	cursor: pointer;
}

.app-toolbar .search_container {
	font-size: 13px;
	margin-right: 20px;
}
/deep/ .search_container input {
 color: ghostwhite !important;
}
/deep/ .search_container .md-input-underline{
	border-color:ghostwhite !important;
}
/deep/ .search_container .md-input-placeholder{
	color: ghostwhite !important;
	top:5px !important;
}
.logged-in-user-name{
	    font-size: 14px;
}
.logged-in-user-icon{
	    padding-right: 8px;
    padding-bottom: 4px;
}
.logged-in-user-options-icon{
	    fill: ghostwhite;
}