<div class="container-fluid wrapper page-container">
	<div class="row view_user_container">
		<div class="col-lg-2 col-md-2 col-sm-4 col-xs-12"
			id="user_left_sidebar">
			<div id="user_profile_img">
				<img
					src="https://lh3.googleusercontent.com/-NA0Vkol-NAM/AAAAAAAAAAI/AAAAAAAAAAA/AAyYBF4UcsqTFfKe-kpG-7sbHfsNJGsk1Q/s64-c-mo/photo.jpg" />
			</div>
		</div>
		<div class="col-lg-8 col-md-2 col-sm-4 col-xs-12"
			id="user_center_container"></div>
		<div class="col-lg-2 col-md-2 col-sm-4 col-xs-12"
			id="user_right_sidebar"></div>
	</div>
</div>