#add_objects_floating_content {
	position: fixed;
	right: 0;
	bottom: 47px;
}

#add_objects_floating_icon {
	position: fixed;
	right: 30px;
	bottom: 75px;
	background-color: #f94c59;
	color: #ebebeb;
	padding: 0px;
	border-radius: 50%;
	font-size: 50px;
	width: 60px;
	height: 60px;
	cursor: pointer;
}

#add_objects_floating_icon span {
	font-weight: 100;
	font-family: inherit;
	top: -8px;
	left: 19px;
}
@CHARSET "ISO-8859-1";

#app_footer {
	background-color: #f94c59;
	position: fixed;
	width: 100%;
	bottom: 0px;
	color: #ebebeb;
	height: 47px;
}

.app_name_img {
	text-align: center;
	margin-top: 4px;
}

.app_name_img img {
	width: 50px;
	height: 40px;
	border-radius: 50%;
	vertical-align: middle;
}

.app_name_img label {
	color: white;
	letter-spacing: 1px;
	font-size: 20px;
	margin-left: 10px;
	font-family: 'Niconne', cursive;
}

.copty_right_col {
	letter-spacing: 1px;
	margin-top: 15px;
	text-align: center;
}

.copty_right_col label {
	font-family: 'Niconne', cursive;
	margin-left: 5px;
}

.social_icons_col {
	text-align: center;
	margin-top: 15px;
	padding-top: 10px;
}

.social_icons_col i {
	font-size: 17px;
	padding-left: 10px;
}

.footer_nofitication_icon {
	text-align: center;
	padding-top: 8px;
	padding-bottom: 0px;
	padding-right: 1px !important;
	padding-left: 5px !important;
}

.footer_nofitication_icon button, .footer_nofitication_icon button:HOVER
	{
	background-color: #f94c59;
	color: #ebebeb;
	border: none;
	font-size: 19px;
}

#app_footer .badge-notify {
	background: #e5e0e0;
	position: relative;
	top: -14px;
	left: -10px;
}

#app_footer .badge {
	padding: 2px 5px;
	font-size: 12px;
	color: #f94c59;
}

.footer_search_bar_container {
	position: fixed;
	height: 47px;
	width: 100%;
}

.footer_search_bar_container input[type="text"] {
	height: 35px;
	margin-top: 5px;
	width: 90%;
	margin-right: 3px;
	margin-left: 17px;
	padding-left: 10px;
	color: black;
	font-size: 15px !important;
}
@CHARSET "ISO-8859-1";

body {
	font-family: 'Slabo 27px', serif !important;
}

.page-container {
	background-color: #ebebeb;
	height: 100%;
	width: 100%;
	padding: 0px 0px 30px 0px;
}

.app_header {
	background-color: #f94c59 !important;
	margin-bottom: 0px !important;
	z-index: 0 !important;
}

.app_header .navbar-form {
	line-height: 50px;
	margin: 0px !important;
}

.app_header a {
	line-height: 48px;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

.app_search_icon {
	position: absolute !important;
	color: #c0bdbd;
	left: 12px;
	margin-top: 9px;
	font-size: 12px !important;
	z-index: 200;
}

#app-header {
	background-color: #f94c59;
	margin-bottom: 0px;
	margin-top: 92px;
}

.app-name {
	font-family: 'Niconne', cursive;
	color: white;
	font-size: 28px !important;
	letter-spacing: 2px;
	padding-left: 7px;
}

.app-content {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

#global-search label {
	position: absolute;
	left: 10px;
	top: 6px;
	font-size: 12px;
	color: #78787c;
}

#logged-in-user-icon {
	border-radius: 50%;
	width: 38px;
	border: 2px solid #fda68a;
}

#global-search #global-search-input, #search .hint {
	padding-left: 30px;
	padding-right: 45px;
	border-radius: 23px;
	font-size: 11px;
	height: 29px;
	color: #78787c;
}

#logged-in-location {
	font-family: 'Slabo 27px', serif !important;
	color: white;
	font-size: 15px;
	letter-spacing: 1px;
	display: inline-table;
	font-weight: 600;
	margin-top: 2px;
}

#header-edit-location-icon {
	padding-left: 4px;
	color: white;
	vertical-align: middle;
	cursor: pointer;
	font-size: 22px;
}

.caret {
	color: #fda68a;
	vertical-align: middle;
	font-size: 18px;
}

#header-notification-icons {
	margin-left: 15px;
}

#header-notification-icons li {
	color: white;
	padding-left: 15px !important;
	margin-left: 0px;
	margin-right: 0px;
}

#header-notification-icons li i {
	font-size: 27px !important;
	vertical-align: middle;
}

#header-notification-icons span {
	font-size: 9px;
	background-color: #ebebeb;
	border: 2px solid #ebebeb;
	padding-left: 1px;
	padding-top: 0px;
	border-radius: 50%;
	position: absolute;
	top: -9px;
	left: 30px;
	padding-right: 3px;
	padding-bottom: 0px;
	color: #f94c59;
	font-weight: 600;
}

#header-add-objects-icon {
	font-size: 23px;
	margin-left: 10px;
}

#header-add-objects-icon i {
	color: #f94c59;
	font-size: 23px;
	background-color: #ebebeb;
	border-radius: 50%;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-weight: 900;
	border: 2px solid #f94c59;
}

#app-header .dropdown-menu>li>a {
	padding: 8px 15px !important;
	font-size: 11px;
	font-weight: 600;
}

#app-header .dropdown-menu .divider {
	margin: 0px 0 !important;
}

#app-header .dropdown-menu {
	padding: 0px 0 !important;
}

.app-body-container {
	flex: 1;
	margin-top: 52px;
}

.signin_app_body_container {
	margin-bottom: 47px;
	flex: 1;
}

.app_btn {
	background-color: #f94c59;
	color: #ebebeb;
	border-radius: 50px;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"],
	input[type="datetime-local"], input[type="date"], input[type="month"],
	input[type="time"], input[type="week"], input[type="number"], input[type="email"],
	input[type="url"], input[type="search"], input[type="tel"], input[type="color"],
	.uneditable-input {
	-webkit-box-shadow: 1px 5px 0px 1px rgba(0, 0, 0, .075) !important;
	box-shadow: 1px 5px 0px 1px rgba(0, 0, 0, .075) !important;
	font-size: 13px !important;
}

button:focus {
	color: white !important;
}

.form-control {
	height: 37px !important;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus,
	input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus,
	input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
	input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus,
	input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus,
	.uneditable-input:focus {
	border-color: #f94c59;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #f94c59;
	outline: 0 none;
}

input[type="text"], input[type="password"], select {
	padding-left: 35px;
	background-color: white;
}

.form-control {
	border-radius: 10px !important;
}

.app_name_font {
	font-family: 'Niconne', cursive;
}

.app_header .navbar-brand {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.navbar-brand>img {
	height: 100%;
	width: auto;
	border-radius: 50%;
	width: 40px;
	height: 38px;
	border-radius: 50%;
	vertical-align: middle;
	list-height: 50px;
}

.app_header a:HOVER {
	background-color: #f94c59 !important;
}

#user-profile-dropdown {
	background-color: #f94c59 !important;
}

.app_header .dropdown-menu {
	padding: 0px 0 ! important;
}

.app_header .dropdown-menu li a {
	padding: 10px !important;
}

.app_header .dropdown-menu li a:HOVER {
	color: #ebebeb !important;
}

.app_header .dropdown-menu .divider {
	margin: 0px !important;
}

#header-add-objects-icon, #header_search_box,
	#header_logged_in_location_box, #header_notification_icons_box {
	display: none;
}

@media screen and (min-width: 850px) {
	#header-add-objects-icon, #header_search_box,
		#header_logged_in_location_box, #header_notification_icons_box {
		display: inline-table;
	}
	#footer_nofitication_box {
		display: none;
	}
}

#header_search_box input[type="text"] {
	width: 230px;
	height: 30px !important;
}

.app_header .navbar-form {
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 0;
}

.header_nofitication_icon {
	text-align: center;
	padding-top: 8px;
	padding-bottom: 0px;
	padding-right: 0px !important;
	padding-left: 0px !important;
}

.header_nofitication_icon button, .header_nofitication_icon button:HOVER
	{
	background-color: #f94c59;
	color: #ebebeb;
	border: none;
	font-size: 19px;
	padding-right: 0px;
	padding: 6px 0px;
}

.header_nofitication_icon .badge-notify {
	background-color: #e5e0e0 !important;
	position: relative !important;
	top: -14px !important;
	left: -10px;
}

.header_nofitication_icon .badge {
	padding: 2px 5px;
	font-size: 12px;
	color: #f94c59 !important;;
}

#header_notification_icons_box {
	margin-left: 20px;
	margin-top: 3px;
}

@media ( max-width : 849px ) and ( min-width: 700px ) {
	#header-add-objects-icon, #header_search_box,
		#header_logged_in_location_box, #header_notification_icons_box {
		display: block;
	}
	#logged-in-location {
		display: none;
	}
	#header_search_box {
		float: left;
		margin-top: 10px;
	}
	#header_search_box input[type="text"] {
		width: 160px;
	}
	#footer_nofitication_box {
		display: none;
	}
}

@media ( max-width : 699px ) and ( min-width: 620px ) {
	#header-add-objects-icon, #header_search_box,
		#header_logged_in_location_box, #header_notification_icons_box {
		display: block;
	}
	#logged-in-location {
		display: none;
	}
	#header_search_box {
		float: left;
		margin-top: 10px;
	}
	#header_search_box input[type="text"] {
		width: 100px;
	}
	#footer_nofitication_box {
		display: none;
	}
}
#location_change_search_box {
	width: 99%;
}

#location_change_search_box .app_search_icon {
	margin-top: 12px !important;
}

.search_locations_container {
	width: 100%;
}

.search_location {
	margin: 10px;
	border-bottom: 1px solid #e1dfdf;
	padding: 5px;
	cursor: pointer;
}

.modal-body {
	max-height: 400px;
	overflow-y: auto;
}

.search_location label {
	font-weight: 400;
	letter-spacing: 1px;
	cursor: pointer;
}

.search_location:HOVER {
	background-color: #f94c59 !important;
	color: white;
}

.search_location_result_type_lbl {
	margin-top: 15px;
	letter-spacing: 1px;
}

.pin_location {
	background-color: #f94c59 !important;
	color: white;
}
#overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #ebebeb;
	opacity: 0.7;
	top: 0;
	display: none;
}
.search_container {
	margin-left: 0px !important;
	margin-right: 0px !important;
}

.slide-animate {
	width: 100%;
	height: 100%;
	background-color: red;
}

.search-item-img {
	float: left;
}

.search-item-name-sub-type {
	float: left;
	max-width: 270px;
	padding-left: 10px;
	height: 50px;
}

.search-item-img img {
	vertical-align: middle;
}

.search-item-img-name {
	padding-left: 0px !important;
	padding-right: 0px !important;
	width: 100%;
}

.search-item {
	height: 100%;
	line-height: 50px;
	margin-bottom: 10px;
	cursor: pointer;
	border-radius: 5px;
	background: rgb(221, 220, 220);
	margin-left: 10px;
	min-width: 340px !important;
	PADDING-LEFT: 10px !important;
	padding-right: 10px !important;
	padding-top: 10px !important;
	padding-bottom: 15px !important;
}

.search-item img {
	display: inline-block;
	width: 50px;
	vertical-align: middle;
	border-radius: 50%;
}

.search-item-name {
	letter-spacing: 1px;
	cursor: pointer;
	line-height: 30px;
}

.search-item-sub-type {
	letter-spacing: 1px;
	cursor: pointer;
	line-height: 23px;
	font-size: 13px;
}

.search-item:HOVER {
	background: rgb(229, 194, 194);
}

.search_object_tab:HOVER {
	background-color: #f94c59;
	color: #ebebeb;
}

.search_objects_tab {
	background-color: white;
	padding: 0px !important;
}

.search_object_tab {
	border-bottom: 1px solid #d7c7c9;
	padding: 15px;
	cursor: pointer;
}

.search_object_tab_icon {
	padding-right: 10px;
	cursor: pointer;
}

.search_object_tab_icon img {
	width: 40px;
	height: 40px;
	border: 2px solid black;
	border-radius: 50%;
	padding: 6px;
	background-color: #ebebeb;
	cursor: pointer;
}

.search_object_tab_name_count {
	text-align: center;
	padding-top: 9px;
	color: #f94c59;
	cursor: pointer;
}

.search_object_tab_name {
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 1px;
	cursor: pointer;
}

.search_object_tab_count {
	padding-left: 8px;
	cursor: pointer;
}

.search_objects_tab_content {
	padding: 20px;
}

.relative_problem_content {
	margin-left: 0px !important;
	margin-right: 0px !important;
}

.relative_problem {
	padding: 0px !important;
	border: 1px solid #d3cece;
	border-left: 20px solid #528658;
	margin-top: 15px;
	background-color: white;
}

.relative_problem_details {
	padding-left: 0px !important;
	padding-right: 0px !important;
	background-color: white;
}

.relative_problem_short_text {
	color: #528658;
	letter-spacing: 1px;
	padding: 10px;
}

.relative_problem_location {
	padding: 0px 0px 0px 10px;
}

.relative_problem_icons {
	border-top: 1px solid lightgray;
	margin-top: 10px;
}

.relative_problem_icon {
	text-align: center;
	padding-top: 4px;
	padding-bottom: 0px;
	padding-right: 1px !important;
	padding-left: 5px !important;
	border-right: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
	background-color: white;
}

.relative_problem_icon button, .relative_problem_icon button:HOVER {
	background-color: white;
	color: #f94c59;
	border: none;
	font-size: 14px;
}

.cretae_problem_container {
	padding: 20px;
}

.cretae_problem_container .row {
	margin-bottom: 10px;
}

.cretae_problem_container textarea {
	height: 160px !important;
}

.impacted_row {
	margin-left: 60px;
	margin-top: 14px;
}

.problem_cover_photo_content {
	width: 100%;
	height: 245px;
	border: 4px dashed #f94c59;
	background-color: white;
}

.problem_cover_photo_content .cover_photo_btn {
	display: flex;
	height: 34px;
	margin: 0 auto;
	margin-top: 100px;
}

.upload_problem_docs {
	height: 170px;
	border: 1px dotted black;
	margin-left: 10px;
	background-color: white;
}

.upload_problem_docs button {
	display: flex;
	margin: 0 auto;
	margin-top: 64px;
	padding: 10px;
}
#login-container {
	background-color: #ebebeb;
	height: 100%;
}

#login_bg_img {
	margin: 0 auto;
}

#login_form {
	display: flex;
	height: 100%;
	align-items: center;
}

#login_bg_row {
	display: flex;
	height: 100%;
	align-items: center;
}

#login_bg_cell {
	display: flex;
	height: 100%;
	align-items: center;
}

#login_form form {
	width: 75%;
}

#login_form form .form-group {
	margin-bottom: 30px;
}

#login_form form .form-group label {
	color: black;
	text-align: left !important;
	padding-bottom: 3px;
	font-size: 13px;
	letter-spacing: 1px;
}

#login_form form .app_name_img img {
	width: 90px;
	height: 90px;
	border-radius: 50%;
	border: 5px solid #f94c59;
	vertical-align: middle;
}

#login_form form .app_name_img label {
	color: #f94c59;
	letter-spacing: 1px;
	font-size: 32px;
	font-family: 'Niconne', cursive;
}

.login_icon {
	color: grey;
	font-size: 12px !important;
	left: -50px;
	top: 37px !important;
}

.password_row {
	margin-bottom: 10px !important;
}

.forgot_password_row {
	text-align: right;
	font-size: 13px;
}

.forgot_password_row label {
	cursor: pointer;
}

#login_form form #login-btn, #connect-btn {
	float: right;
	letter-spacing: 1px;
	padding-left: 18px;
	padding-right: 18px;
	padding-top: 6px;
	padding-bottom: 6px;
}

#remember_me_lbl {
	letter-spacing: 1px;
	margin-top: 6px;
	font-size: 13px;
}

#login_form form .connected_row {
	border-top: 1px groove white;
	margin-top: 15px;
	padding-top: 15px;
}

#sign_up_connect_lbl {
	letter-spacing: 1px;
	font-size: 13px;
}

#login_form form input[type="checkbox"] {
	display: none;
	display: inline-block;
	cursor: pointer;
	font-size: 13px;
	margin-right: 10px;
	line-height: 18px;
}

#login_form form .login_checkbox {
	display: inline-block;
	cursor: pointer;
	font-size: 13px;
	margin-right: 10px;
	line-height: 18px;
	margin-top: 8px;
}

#login_form form .login_checkbox:before {
	content: "";
	display: inline-block;
	width: 15px;
	height: 15px;
	vertical-align: middle;
	background-color: #f94c59;
	color: #f3f3f3;
	text-align: center;
	box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px
		rgba(255, 255, 255, .8);
	-webkit-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px
		rgba(255, 255, 255, .8);
	border-radius: 3px;
	margin-right: 10px;
	border-radius: 3px
}

#login_form form input[type=checkbox]:checked+.login_checkbox:before {
	content: "\2713";
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
	font-size: 15px;
}

#login_form form input[type=checkbox] {
	display: none;
}

.sign_up_connect_lbl {
	margin-top: 12px;
}

#login_form form button, input[type="checkbox"] {
	-webkit-box-shadow: 1px 5px 0px 1px rgba(249, 76, 89, 0.57);
	box-shadow: 1px 5px 0px 1px rgba(249, 76, 89, 0.57);
}

.signin_user_icon {
	left: -57px;
}

.help-block {
	margin-top: 9px !important;
	margin-bottom: 0px !important;
	color: red !important;
}
#signup-container {
	background-color: #ebebeb;
	height: 100%;
}

#signup_bg_img {
	margin: 0 auto;
}

#signup_form {
	display: flex;
	height: 100%;
	align-items: center;
}

#signup_bg_row {
	display: flex;
	height: 100%;
	align-items: center;
}

#signup_bg_cell {
	display: flex;
	height: 100%;
	align-items: center;
}

#signup_form form {
	width: 75%;
}

#signup_form form .form-group {
	margin-bottom: 17px;
}

#signup_form form .form-group label {
	color: black;
	text-align: left !important;
	padding-bottom: 3px;
	letter-spacing: 1px;
}

#signup_form form .app_name_img img {
	width: 90px;
	height: 90px;
	border-radius: 50%;
	border: 5px solid #f94c59;
	vertical-align: middle;
}

#signup_form form .app_name_img label {
	color: #f94c59;
	letter-spacing: 1px;
	font-size: 32px;
	font-family: 'Niconne', cursive;
}

#signup_form form #login-btn, #connect-btn {
	float: right;
	letter-spacing: 1px;
	padding-left: 18px;
	padding-right: 18px;
	padding-top: 6px;
	padding-bottom: 6px;
}

#signup_form form #connect-btn {
	float: left;
}

#signup_form form #login-btn, #connect-btn {
	float: right;
	letter-spacing: 1px;
	padding-left: 18px;
	padding-right: 18px;
	padding-top: 6px;
	padding-bottom: 6px;
}

#signup_form form .connected_row {
	border-top: 1px groove white;
	margin-top: 30px;
	padding-top: 15px;
}

.app_signup_moto {
	text-align: center;
	padding-top: 25px;
	font-weight: 900;
	letter-spacing: 1.5px;
	word-wrap: break-word;
	font-size: 22px;
	padding-bottom: 25px;
}

#app_moto_img {
	width: 100%;
}

.moto_highlite {
	color: #f94c59;
	text-align: center;
	font-weight: 900;
	letter-spacing: 1.5px;
	word-wrap: break-word;
	font-size: 22px;
}

#signup_form form button, input[type="checkbox"] {
	-webkit-box-shadow: 1px 5px 0px 1px rgba(249, 76, 89, 0.57);
	box-shadow: 1px 5px 0px 1px rgba(249, 76, 89, 0.57);
}

/*# sourceMappingURL=app.css.map*/