<div class="page-content">
	<div class="sign-in-container">
		<div class="sign-in-content">
			<div class="form-top">
				<div>
					<img alt="Universal Admission" src="assets/logo.png"
						class="account_app_logo" />
				</div>
				<div class="app_name">
					<label>MyIndia</label>
				</div>
			</div>
			<div class="form-bottom">
				<form [formGroup]="signInForm">
					<table style="width: 100%" cellspacing="5">
						<tr>
							<td><md-input class="login_input"
									[(ngModel)]="loginUserName" type="text" placeholder="User Name"
									name="loginUserName" [formControl]="signInForm.controls['loginUserName']" required> <span md-prefix> <i
									class="material-icons login-input-icon">person</i> &nbsp;
								</span> </md-input>

								<div  style="color:red; font-size:13px !important;" *ngIf="signInForm.controls['loginUserName'].hasError('required') && signInForm.controls['loginUserName'].touched" class="alert alert-danger">You must provide a username.</div>

							</td>
						</tr>
						<tr>
							<td><md-input class="login_input"
									[(ngModel)]="loginUserPassword" type="password"
									placeholder="Password" name="loginUserPassword" [formControl]="signInForm.controls['loginUserPassword']" required> <span
									md-prefix> <i class="material-icons login-input-icon">lock</i>
									&nbsp;
								</span> </md-input>
								<div  style="color:red; font-size:13px !important;" *ngIf="signInForm.controls['loginUserPassword'].hasError('required') && signInForm.controls['loginUserPassword'].touched" class="alert alert-danger">You must provide a password.</div>
							</td>
						</tr>
						<tr>
							<td colspan="2" align="center">
								<button md-raised-button class="login_signin_button"
									(click)="signIn()" [disabled]="!signInForm.valid">Sign In</button>
							</td>
						</tr>
					</table>
				</form>
				<div class="forgot-password-content">
					<label class="forgot-password-lbl">Forgot Password?</label>
				</div>
				<div class="signup-content">
					<a routerLink="../signUp/userIdentity">New To MyIndia? Sign Up</a>
				</div>
			</div>
		</div>
	</div>
</div>