#comments_list_container {
	margin: 0px !important;
}

#comments_list_container .comment_container {
	padding: 0px !important;
}

#comments_list_container .comment {
	margin: 5px !important;
	border: 1px solid #ccc;
	padding: 10px !important;
	-webkit-box-shadow: 0 -4px 10px 0 rgba(36, 50, 56, 0.2);
	box-shadow: 0px -4px 10px 0 rgba(36, 50, 56, 0.2);
}

#comments_list_container .comment .row {
	
}

#comments_list_container .comment .row .commentor_img {
	
}

#comments_list_container .comment .row .commentor_img img {
	width: 50px;
	border-radius: 50%;
	height: 50px;
	border: 3px solid #00a699
}

#comments_list_container .comment .row .commentor_name_date {
	
}

#comments_list_container .comment .row .commentor_name_date .commentor_name
	{
	
}

#comments_list_container .comment .row .commentor_name_date .commentor_date
	{
	font-size: 12px;
}

#comments_list_container .comment .row .comment_text {
	word-wrap: break-word;
	margin-top: 0px;
}


.discussion_user_profile_label {
	border-radius: 50%;
	text-align: center;
	width: 55px;
	background-color: #f94c59 !important;
	border: 2px solid #00a699;
	height: 55px;
}

.discussion_user_profile_image {
	border-radius: 50%;
	width: 50px !important;
	border: 2px solid #fda68a;
}