<div class="container-fluid wrapper page-container">
	<div class="row view_problem_container">
		<div class="col-lg-2 col-md-2 col-sm-4 col-xs-12"
			id="view_problem_left_sidebar">
			<div id="problem_main_photo"
				class="{{viewProblem.problemDetails.problemSeverity}}">
				<img class="img-responsive"
					ng-src="{{viewProblem.problemDetails.photoURL}}">
			</div>
			<div id="problem_highlites">
				<div id="problem_category_name">
					<label>
						{{viewProblem.problemDetails.problemType.problemCategory}}&nbsp;({{viewProblem.problemDetails.problemType.problemTypeName}})
					</label>
				</div>
				<div id="problem_status"></div>
				<div id="problem_popularity">
					<span uib-rating ng-model="viewProblem.rating" max="5"
						read-only="true" titles="['one','two','three','four','five']"
						aria-labelledby="default-rating"></span>
				</div>
			</div>
			<div id="problem_tabs">
				<div class="problem_tab"
					ng-click="viewProblem.changeTab('viewProblem.overview','Overview')">
					<span class="problem_tab_icon"><i class="fa fa-info"
						aria-hidden="true"></i></span> <span class="problem_tab_name">Overview</span>
				</div>
				<div class="problem_tab"
					ng-click="viewProblem.changeTab('viewProblem.activityFeed','Activities')">
					<span class="problem_tab_icon"><i class="fa fa-tasks"
						aria-hidden="true"></i></span> <span class="problem_tab_name">Activity
						Feed</span>
				</div>
				<div class="problem_tab"
					ng-click="viewProblem.changeTab('viewProblem.photos','Photos')">
					<span class="problem_tab_icon"><i class="fa fa-picture-o"
						aria-hidden="true"></i></span> <span class="problem_tab_name">Photos</span>
				</div>
				<div class="problem_tab"
					ng-click="viewProblem.changeTab('viewProblem.videos','Videos')">
					<span class="problem_tab_icon"><i class="fa fa-video-camera"
						aria-hidden="true"></i></span> <span class="problem_tab_name">Videos</span>
				</div>
				<div class="problem_tab"
					ng-click="viewProblem.changeTab('viewProblem.contributors','Contributors')">
					<span class="problem_tab_icon"><i class="fa fa-users"
						aria-hidden="true"></i></span> <span class="problem_tab_name">Contributors</span>
				</div>
				<div class="problem_tab"
					ng-click="viewProblem.changeTab('viewProblem.discussions','Discussion')">
					<span class="problem_tab_icon"><i class="fa fa-comment"
						aria-hidden="true"></i></span> <span class="problem_tab_name">Discussion</span>
				</div>
				<div class="problem_tab"
					ng-click="viewProblem.changeTab('viewProblem.attachments','Attachements')">
					<span class="problem_tab_icon"><i class="fa fa-paperclip"
						aria-hidden="true"></i></span> <span class="problem_tab_name">Attachments</span>
				</div>
			</div>
		</div>
		<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12"
			id="view_problem_content">
			<div id="problem_basic_details_container" class="row">
				<div id="problem_basic_details_content"
					class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<div class="row margin0">
						<div id="problem_name">
							<p>{{viewProblem.problemDetails.problemShortDescription}}</p>
						</div>
					</div>
					<div class="row margin0" id="problem_top_highlites">
						<div id="problem_status"
							class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
							<label class="btn_lbl">
								{{viewProblem.problemDetails.problemStatus}} </label>
						</div>
						<div id="problem_severity"
							class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
							<label
								class="btn_lbl color_white {{viewProblem.problemDetails.problemSeverity}}">
								{{viewProblem.problemDetails.problemSeverity}} </label>
						</div>
						<div id="problem_location"
							class="col-lg-8 col-md-6 col-sm-6 col-xs-12">
							<i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;<label
								class="color_white">
								{{viewProblem.problemDetails.createdLocation.locationName}} </label>
						</div>
					</div>
				</div>
				<div id="problem_basic_details_actions_content"
					class="col-lg-6 col-md-6 col-sm-6 col-xs-12"></div>
			</div>
			<div class="row margintop10">
				<div id="problem_basic_details_people_content"
					class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
					<div class="row margin0">
						<div id="problem_basic_people_details"
							class="col-lg-6 col-md-5 col-sm-6 col-xs-12">
							<div class="content">
								<div class="row margin0 paddingtop10">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<label class="ltrspc1"> Logged By</label>
									</div>
									<div
										class="col-lg-12 col-md-12 col-sm-12 col-xs-12 logged_currently_with">
										<div class="logged_currently_with_photo">
											<user-profile-image-display
												ng-if="viewProblem.problemDetails.createdBy"
												image-url="viewProblem.problemDetails.createdBy.userImage"
												name="viewProblem.problemDetails.createdBy.name"
												label-class="viewProblem.userProfileLabelClass"
												image-class="viewProblem.userProfileImageClass"></user-profile-image-display>

										</div>
										<div class="logged_currently_with_name">
											<div class="ltrspc1 owner_name">{{viewProblem.problemDetails.createdBy.name}}</div>
											<div class="ltrspc1 owner_desig">{{viewProblem.problemDetails.createdBy.currentDesignation}}</div>
											<div class="ltrspc1 owner_loc">{{viewProblem.problemDetails.createdBy.userLocation.locationName}}</div>
										</div>
									</div>
								</div>
								<div class="row margin0 paddingtop10">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<label class="ltrspc1"> Currently With </label>
									</div>
									<div
										class="col-lg-12 col-md-12 col-sm-12 col-xs-12 logged_currently_with">
										<div class="logged_currently_with_photo">

											<user-profile-image-display
												ng-if="viewProblem.problemDetails.currentlyWith"
												image-url="viewProblem.problemDetails.currentlyWith.userImage"
												name="viewProblem.problemDetails.currentlyWith.name"
												label-class="viewProblem.userProfileLabelClass"
												image-class="viewProblem.userProfileImageClass"></user-profile-image-display>
										</div>
										<div class="logged_currently_with_name">
											<div class="ltrspc1 owner_name">{{viewProblem.problemDetails.currentlyWith.name}}</div>
											<div class="ltrspc1 owner_desig">{{viewProblem.problemDetails.currentlyWith.currentDesignation}}</div>
											<div class="ltrspc1 owner_loc">{{viewProblem.problemDetails.currentlyWith.userLocation.locationName}}</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div id="problem_basic_details_effected_content"
							class="col-lg-6 col-md-7 col-sm-6 col-xs-12">
							<div class="content">
								<div class="row margin0 affected_row">
									<div
										class="col-lg-6 col-md-6 col-sm-12 col-xs-12 people_affected_col">
										<div class="count">{{viewProblem.problemDetails.peopleEffected}}</div>
										<div class="desc">
											<div>People</div>
											<div>Affected</div>
										</div>
									</div>
									<div
										class="col-lg-6 col-md-6 col-sm-12 col-xs-12 people_affected_col">
										<div class="count">{{viewProblem.problemDetails.moneyAtStake}}</div>
										<div class="desc">
											<div>Money At</div>
											<div>Stake</div>
										</div>
									</div>
								</div>
								<div class="row margin0 paddingtop10">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<label class="ltrspc1"> Contributors </label>
									</div>
									<div
										class="col-lg-12 col-md-12 col-sm-12 col-xs-12 contributor_info">
										<div class="row">
											<div
												class="contributor_photo col-lg-2 col-md-2 col-sm-3 col-xs-6"
												ng-repeat="eachContributor in viewProblem.problemDetails.contributors">
												<user-profile-image-display ng-if="eachContributor"
													image-url="eachContributor.userImage"
													name="eachContributor.name"
													label-class="viewProblem.userProfileLabelClass"
													image-class="viewProblem.userProfileImageClass"></user-profile-image-display>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row margin0 problem_counts">
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 problem_count">
							<div class="count">{{viewProblem.problemDetails.popularityCount}}</div>
							<div class="desc">Popularity</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 problem_count">
							<div class="count">{{viewProblem.problemDetails.followingCount}}</div>
							<div class="desc">Followers</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 problem_count">
							<div class="count">{{viewProblem.problemDetails.supportCount}}</div>
							<div class="desc">Supporters</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 problem_count">
							<div class="count">{{viewProblem.problemDetails.shareCount}}</div>
							<div class="desc">Shares</div>
						</div>
					</div>
					<div id="view_problem_comment_box_container">
						<comment-box object-type="viewProblem.objectType"
							object-guid="viewProblem.selectedProblemGuid"> </problem-display>
					</div>
					<div ui-view></div>
				</div>
				<div
					class="col-lg-3 col-md-3 col-sm-3 col-xs-12 relative_problems_container padding0">
					<problem-display problems="viewProblem.similarProblems.problems"></problem-display>
				</div>
			</div>
		</div>
	</div>
</div>