<div class="container-fluid wrapper page-container">
	<div class="row view_problem_container">
		<div class="col-lg-2 col-md-2 col-sm-4 col-xs-12"
			id="view_problem_left_sidebar">
			<div id="problem_main_photo"
				class="{{viewProblem.problemDetails.problemSeverity}}">
				<img class="img-responsive"
					ng-src="{{viewProblem.problemDetails.photoURL}}">
			</div>
			<div id="problem_highlites">
				<div id="problem_category_name">
					<label>
						{{viewProblem.problemDetails.problemType.problemCategory}} </label>
				</div>
				<div id="problem_status"></div>
				<div id="problem_popularity">
					<span uib-rating ng-model="viewProblem.rating" max="5"
						read-only="true" titles="['one','two','three','four','five']"
						aria-labelledby="default-rating"></span>
				</div>
			</div>
			<div id="problem_tabs">
				<div class="problem_tab">
					<span class="problem_tab_icon"><i class="fa fa-info"
						aria-hidden="true"></i></span> <span class="problem_tab_name">Overview</span>
				</div>
				<div class="problem_tab">
					<span class="problem_tab_icon"><i class="fa fa-tasks"
						aria-hidden="true"></i></span> <span class="problem_tab_name">Activities</span>
				</div>
				<div class="problem_tab">
					<span class="problem_tab_icon"><i class="fa fa-picture-o"
						aria-hidden="true"></i></span> <span class="problem_tab_name">Photos</span>
				</div>
				<div class="problem_tab">
					<span class="problem_tab_icon"><i class="fa fa-video-camera"
						aria-hidden="true"></i></span> <span class="problem_tab_name">Videos</span>
				</div>
				<div class="problem_tab">
					<span class="problem_tab_icon"><i class="fa fa-users"
						aria-hidden="true"></i></span> <span class="problem_tab_name">Contributors</span>
				</div>
				<div class="problem_tab">
					<span class="problem_tab_icon"><i class="fa fa-video-camera"
						aria-hidden="true"></i></span> <span class="problem_tab_name">Discussion</span>
				</div>
			</div>
		</div>
		<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12"
			id="view_problem_content">
			<div id="problem_basic_details_container" class="row">
				<div id="problem_basic_details_content"
					class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<div class="row margin0">
						<div id="problem_name">
							<p>{{viewProblem.problemDetails.problemShortDescription}}</p>
						</div>
					</div>
					<div class="row margin0" id="problem_top_highlites">
						<div id="problem_status"
							class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
							<label class="btn_lbl">
								{{viewProblem.problemDetails.problemStatus}} </label>
						</div>
						<div id="problem_severity"
							class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
							<label
								class="btn_lbl color_white {{viewProblem.problemDetails.problemSeverity}}">
								{{viewProblem.problemDetails.problemSeverity}} </label>
						</div>
						<div id="problem_location"
							class="col-lg-8 col-md-6 col-sm-6 col-xs-12">
							<i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;<label
								class="color_white">
								{{viewProblem.problemDetails.createdLocation.locationName}} </label>
						</div>
					</div>
				</div>
				<div id="problem_basic_details_actions_content"
					class="col-lg-6 col-md-6 col-sm-6 col-xs-12"></div>
			</div>
			<div class="row margintop10">
				<div id="problem_basic_details_people_content"
					class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
					<div class="row margin0">
						<div id="problem_basic_people_details"
							class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
							<div class="content">
								<div class="row margin0 paddingtop10">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<label class="ltrspc1"> Logged By</label>
									</div>
									<div
										class="col-lg-12 col-md-12 col-sm-12 col-xs-12 logged_currently_with">
										<div class="logged_currently_with_photo">
											<img alt=""
												src="https://0.gravatar.com/avatar/48959f453dffdb6236f4b33eb8e9f4b7?s=50&d=identicon&r=G">
										</div>
										<div class="logged_currently_with_name">
											<div class="ltrspc1">Kasireddy Kandula</div>
											<div class="ltrspc1">Pulipadu</div>
										</div>
									</div>
								</div>
								<div class="row margin0 paddingtop10">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<label class="ltrspc1"> Currently With </label>
									</div>
									<div
										class="col-lg-12 col-md-12 col-sm-12 col-xs-12 logged_currently_with">
										<div class="logged_currently_with_photo">
											<img alt=""
												src="https://0.gravatar.com/avatar/48959f453dffdb6236f4b33eb8e9f4b7?s=50&d=identicon&r=G">
										</div>
										<div class="logged_currently_with_name">
											<div class="ltrspc1">Kasireddy Kandula</div>
											<div class="ltrspc1">Pulipadu</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div id="problem_basic_details_effected_content"
							class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
							<div class="content">
								<div class="row margin0 affected_row">
									<div
										class="col-lg-6 col-md-6 col-sm-12 col-xs-12 people_affected_col">
										<div class="count">5000+</div>
										<div class="desc">
											<div>People</div>
											<div>Affected</div>
										</div>
									</div>
									<div
										class="col-lg-6 col-md-6 col-sm-12 col-xs-12 people_affected_col">
										<div class="count">1000+</div>
										<div class="desc">
											<div>Money At</div>
											<div>Stake</div>
										</div>
									</div>
								</div>
								<div class="row margin0 paddingtop10">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<label class="ltrspc1"> Contributors </label>
									</div>
									<div
										class="col-lg-12 col-md-12 col-sm-12 col-xs-12 contributor_info">
										<div class="row">
											<div
												class="contributor_photo col-lg-2 col-md-3 col-sm-3 col-xs-6">
												<img alt=""
													src="https://0.gravatar.com/avatar/48959f453dffdb6236f4b33eb8e9f4b7?s=50&d=identicon&r=G">
											</div>
											<div
												class="contributor_photo col-lg-2 col-md-3 col-sm-3 col-xs-6">
												<img alt=""
													src="https://0.gravatar.com/avatar/48959f453dffdb6236f4b33eb8e9f4b7?s=50&d=identicon&r=G">
											</div>
											<div
												class="contributor_photo col-lg-2 col-md-3 col-sm-3 col-xs-6">
												<img alt=""
													src="https://0.gravatar.com/avatar/48959f453dffdb6236f4b33eb8e9f4b7?s=50&d=identicon&r=G">
											</div>
											<div
												class="contributor_photo col-lg-2 col-md-3 col-sm-3 col-xs-6">
												<img alt=""
													src="https://0.gravatar.com/avatar/48959f453dffdb6236f4b33eb8e9f4b7?s=50&d=identicon&r=G">
											</div>
											<div
												class="contributor_photo col-lg-2 col-md-3 col-sm-3 col-xs-6">
												<img alt=""
													src="https://0.gravatar.com/avatar/48959f453dffdb6236f4b33eb8e9f4b7?s=50&d=identicon&r=G">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row margin0 problem_counts">
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 problem_count">
							<div class="count">1000</div>
							<div class="desc">Popularity</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 problem_count">
							<div class="count">2000+</div>
							<div class="desc">Followers</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 problem_count">
							<div class="count">3000+</div>
							<div class="desc">Supporters</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 problem_count">
							<div class="count">4000+</div>
							<div class="desc">Shares</div>
						</div>
					</div>
					<div id="view_problem_comment_box_container">
						<comment-box object-type="viewProblem.objectType"
							object-guid="viewProblem.selectedProblemGuid"> </problem-display>
					</div>
					<div class="row margin0 problem_tabs_content">
						<div
							class="col-lg-12 col-md-12 col-sm-12 col-xs-12 problem_tabs_content_tab">
							{{viewProblem.problemDetails.problemLongDescription}}</div>
					</div>
				</div>
				<div
					class="col-lg-3 col-md-3 col-sm-3 col-xs-12 relative_problems_container padding0">
					<problem-display problems="viewProblem.similarProblems.problems"></problem-display>
				</div>
			</div>

		</div>

	</div>
</div>