<div class="container-fluid wrapper page-container">
	<div class="row view_problem_container">
		<div class="col-lg-2 col-md-2 col-sm-4 col-xs-12"
			id="view_problem_left_sidebar">
			<div id="problem_main_photo"
				class="{{viewProblem.problemDetails.problemSeverity}}">
				<img class="img-responsive"
					ng-src="{{viewProblem.problemDetails.photoURL}}">
			</div>
			<div id="problem_highlites">
				<div id="problem_category_name">
					<label>
						{{viewProblem.problemDetails.problemType.problemCategory}} </label>
				</div>
				<div id="problem_status"></div>
				<div id="problem_popularity">
					<span uib-rating ng-model="viewProblem.rating" max="5"
						read-only="true"
						titles="['one','two','three','four','five']"
						aria-labelledby="default-rating"></span>
				</div>
			</div>
			<div id="problem_tabs">
				<div class="problem_tab">
					<span class="problem_tab_icon"><i class="fa fa-info"
						aria-hidden="true"></i></span> <span class="problem_tab_name">Overview</span>
				</div>
				<div class="problem_tab">
					<span class="problem_tab_icon"><i class="fa fa-tasks"
						aria-hidden="true"></i></span> <span class="problem_tab_name">Activities</span>
				</div>
				<div class="problem_tab">
					<span class="problem_tab_icon"><i class="fa fa-picture-o"
						aria-hidden="true"></i></span> <span class="problem_tab_name">Photos</span>
				</div>
				<div class="problem_tab">
					<span class="problem_tab_icon"><i class="fa fa-video-camera"
						aria-hidden="true"></i></span> <span class="problem_tab_name">Videos</span>
				</div>
				<div class="problem_tab">
					<span class="problem_tab_icon"><i class="fa fa-users"
						aria-hidden="true"></i></span> <span class="problem_tab_name">Contributors</span>
				</div>
				<div class="problem_tab">
					<span class="problem_tab_icon"><i class="fa fa-video-camera"
						aria-hidden="true"></i></span> <span class="problem_tab_name">Videos</span>
				</div>
			</div>
		</div>
		<div class="col-lg-10 col-md-10 col-sm-8 col-xs-12"
			id="view_problem_content">
			<div id="problem_basic_details_container" class="row">
				<div id="problem_basic_details_content"
					class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
					<div id="problem_name">
						<p>{{viewProblem.problemDetails.problemShortDescription}}</p>
					</div>
					<div id="problem_status"></div>
				</div>
				<div id="problem_basic_details_actions_content"
					class="col-lg-3 col-md-3 col-sm-3 col-xs-12"></div>
			</div>
			<div class="row">
				<div></div>
				<div id="relative_problems_container"></div>
			</div>
		</div>
	</div>
</div>