@CHARSET "ISO-8859-1";
.forgot_password_form .form-group{
	margin-bottom: 15px !important;
}
.forgot_password_form .already_connected_wanna_connected_row{
	padding-top: 15px;
}
.forgot_password_form .connected_row{
	padding-top: 0px !important;
}
.forgot_password_form .bottom_border{
	border:none !important;
	border-bottom: 1px groove white !important;
}