<div class="container-fluid wrapper" id="login-container">
	<div class="row" id="login_bg_row">
		<div class="col-lg-8 col-md-7 col-sm-7 col-xs-12" id="login_bg_cell">
			<img class="img-responsive" src="assets/login_bg1.png"
				id="login_bg_img">
		</div>
		<div id="login_form"
			class="col-lg-4 col-md-5 col-sm-5 col-xs-12 forgot_password_form">
			<form role="form" method="post" name="login_form" novalidate>
				<div class="form-group app_name_img">
					<img src="assets/app_icon.jpg"> &nbsp; &nbsp; <label>
						MyIndia</label>
				</div>
				<div ui-view></div>
				<div class="form-group connected_row">
					<div class="already_connected_wanna_connected_row">
						<label class='sign_up_connect_lbl'>Wanna get connected?</label>
						<button type="button" class="btn app_btn"
							ng-click="signIn.gotoSignUp()" id="connect-btn">Connect</button>
					</div>
					<div class="already_connected_wanna_connected_row">
						<label class='sign_up_connect_lbl'>Already connected?</label>
						<button type="button" class="btn app_btn"
							ng-click="signUp.gotoSignIn()" id="login-btn">Get Going</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>