<div class="form-group">
	<label for="user_name">User name (OR) Email</label> <i
						class="fa fa-user login_icon" aria-hidden="true"></i> <input
						type="text" name="form_username" ng-model="forgotPassword.userName"
						placeholder="Username" class="form-control"
						id="form-username" ng-required="true">

					<div ng-messages="login_form.form_username.$error"
						ng-if="login_form.form_username.$touched">
						<p ng-message="required" class="help-block">
							<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
							&nbsp;UserName is required.
						</p>
					</div>
				</div>
				<div class="form-group forgot_password_row">
					<label ng-click="signIn.gotoForgotPassword()"> Forgot
						username?</label>
				</div>
				<div class="form-group connected_row bottom_border">
					<label for="security_question">Security Question</label>
				</div>
				<div class="form-group password_row">
					<label for="reference_name">Reference name</label> <i
						class="fa fa-lock login_icon" aria-hidden="true"></i> <input
						type="text" name="reference_name" ng-model="forgotPassword.referenceName"
						placeholder="Reference Name" class="form-control"
						id="reference_name" ng-required="true">

					<div ng-messages="login_form.reference_name.$error"
						ng-if="login_form.reference_name.$touched">
						<p ng-message="required" class="help-block">
							<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
							&nbsp;Reference name is required.
						</p>
					</div>
				</div>
				<div class="form-group">
					<label class='sign_up_connect_lbl'>&nbsp;</label>
					<button type="button" class="btn app_btn" id="login-btn"
						ng-disabled="login_form.$invalid" ng-click="forgotPassword.validUser()">Find
						me!</button>
				</div>