@CHARSET "ISO-8859-1";

#problem_selection_container {
	padding: 5px !important;
}

#problem_selection_container .problem {
	background-color: white;
	margin-top: 10px;
	margin-bottom: 10px;
}

#problem_selection_container .problem .problem_severity {
	text-align: center;
	padding: 10px;
}

#problem_selection_container .problem .problem_severity .problem_severity_circle
	{
	border-radius: 50%;
	text-align: center;
	width: 46px;
	height: 46px;
}

#problem_selection_container .problem .problem_name {
	letter-spacing: 1px;
	font-size: 14px;
	padding: 10px;
}

#problem_selection_container .problem .problem_located_in {
	letter-spacing: 1px;
	font-size: 12px;
	text-align: center;
}

#problem_selection_container .problem .critical {
	background-color: red;
}

#problem_selection_container .problem .high {
	background-color: orange;
}

#problem_selection_container .problem .medium {
	background-color: blue;
}

#problem_selection_container .problem .low {
	background-color: green;
}

#problem_selection_container .problem .row {
	margin: 0px !important;
}

#problem_selection_container .problem  .problem_located_in i {
	font-size: 16px;
	margin-right: 7px;
}

#problem_selection_container .problem .problem_severity label {
	color: white;
	padding-top: 9px;
	font-size: 20px;
}

#problem_selection_container .problem .problem_short_actions {
	margin-top: 20px !important;
	background-color: #bdbbba;
	padding: 6px 0px 2px 0px;
}

#problem_selection_container .problem .problem_short_actions .problem_short_action label
	{
	background-color: #6b6666;
	color: white;
	padding: 2px 5px 2px 5px;
	margin-left: 7px;
	border-radius: 3px;
}

#problem_selection_container .problem .problem_short_actions .problem_short_action i
	{
	font-size: 18px;
	vertical-align: text-bottom
}

.problem_selection_content {
	margin: 0px !important;
}