<div class="container-fluid wrapper page-container">
	<div class="row view_problem_container">
		<div class="col-lg-2 col-md-2 col-sm-6 col-xs-12"
			id="view_problem_left_sidebar"></div>
		<div class="col-lg-10 col-md-10 col-sm-6 col-xs-12"
			id="view_problem_content">
			<div class="col-lg-9 col-md-9 col-sm-6 col-xs-12"
				id="view_problem_left_side_content">
				<img id="problem_main_photo_url"
					ng-src="{{viewProblem.problemBasicDetails.problemMainPhotoURL}}">
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12"
				id="view_problem_related_problems_side_bar"></div>
		</div>
	</div>
</div>