<div class="form-group">
	<label for="search_college">User name</label> <i
		class="fa fa-user login_icon" aria-hidden="true"></i> <input
		type="text" name="form-username" placeholder="Username"
		class="form-control" id="form-username" required="required">
</div>
<div class="form-group password_row">
	<label for="search_college">Password</label> <i
		class="fa fa-lock login_icon" aria-hidden="true"></i> <input
		type="password" name="form-password" placeholder="Password"
		class="form-control" id="form-password" required="required">
</div>
<div class="form-group password_row">
	<label for="search_college">Confirm Password</label> <i
		class="fa fa-lock login_icon" aria-hidden="true"></i> <input
		type="password" name="form-password" placeholder="Password"
		class="form-password form-control" id="form-password"
		required="required">
</div>
<div class="form-group">
	&nbsp;
	<button type="button" class="btn app_btn"
		ng-click="signUp.validateUser()" id="connect-btn">Connect</button>
</div>