<nav class="navbar navbar-fixed-top app_header" role="navigation">
	<div class="navbar-header pull-left">
		<a class="navbar-brand"><img src="assets/app_icon.jpg" /> <span
			class="app-name">MyIndia</span></a>

		<ul class="nav pull-left" id="header_logged_in_location_box">
			<li uib-dropdown class="dropdown pull-right"><a href
				id="user-profile-dropdown" uib-dropdown-toggle> <span
					id="logged-in-location">{{header.userInfo.displayLocation.locationName}}</span>
					<i id="header-edit-location-icon" class="material-icons"
					ng-click="header.openLocationChangeModal()">location_on</i>
			</a></li>
		</ul>
		<ul class="nav pull-left" id="header_notification_icons_box">
			<li class="pull-left header_nofitication_icon">
				<button class="btn btn-default">
					<span class="glyphicon glyphicon-globe"></span> <span
						class="badge badge-notify">3</span>
				</button>
			</li>
			<li class="pull-left header_nofitication_icon">
				<button class="btn btn-default">
					<span class="glyphicon glyphicon-flag"></span> <span
						class="badge badge-notify">3</span>
				</button>
			</li>
			<li class="pull-left header_nofitication_icon">
				<button class="btn btn-default">
					<span class="glyphicon glyphicon-comment"></span> <span
						class="badge badge-notify">3</span>
				</button>
			</li>
			<li class="pull-left header_nofitication_icon">
				<button class="btn btn-default">
					<span class="glyphicon glyphicon-user"></span> <span
						class="badge badge-notify">3</span>
				</button>
			</li>
		</ul>
	</div>
	<div class="navbar-header pull-right">
		<div class="pull-left">
			<form class="navbar-form" role="search">
				<div class="input-group" id="header_search_box">
					<i class="glyphicon glyphicon-search app_search_icon"
						aria-hidden="true"></i> <input type="text" class="form-control"
						placeholder="Search" ng-model="header.searchTerm"
						my-india-enter-key="header.gotoSearch()">
				</div>
				<div class="input-group">
					<ul class="nav pull-left">
						<li uib-dropdown class="dropdown pull-right"><a href
							id="user-profile-dropdown" uib-dropdown-toggle>
								<user-profile-image-display ng-if="header.userInfo" image-url="header.userInfo.userImage" name="header.userInfo.name" label-class="header.userProfileLabelClass" image-class="header.userProfileImageClass"></user-profile-image-display>
								<b class="caret"></b>
						</a>
							<ul class="dropdown-menu" uib-dropdown-menu role="menu"
								aria-labelledby="user-profile-dropdown">
								<li role="menuitem"><a href="#">{{header.userInfo.name}}</a></li>
								<li class="divider"></li>
								<li role="menuitem"><a href="#">Help</a></li>
								<li role="menuitem"><a href="#">Settings</a></li>
								<li class="divider"></li>
								<li role="menuitem" ng-click="header.logout()"><a href="#">Log out</a></li>
							</ul></li>
					</ul>
				</div>
			</form>
		</div>
	</div>
</nav>

<modal ng-if="header.showLocationChangeModal"
	animations-enabled="header.animationsEnabled"
	modal-template-url="header.locationChangePopUpUrl"
	dismiss-modal="header.closeLocationChangeModal()"
	modal-controller-name="header.modalControllerName"
	modal-controller-alias="header.modalControllerAlias"> </modal>

