#add_objects_floating_content {
	position: fixed;
	right: 0;
	bottom: 47px;
}

#add_objects_floating_icon {
	position: fixed;
	right: 30px;
	bottom: 75px;
	background-color: #f94c59;
	color: #ebebeb;
	padding: 0px;
	border-radius: 50%;
	font-size: 50px;
	width: 60px;
	height: 60px;
	cursor: pointer;
}

#add_objects_floating_icon span {
	font-weight: 100;
	font-family: inherit;
	top: -8px;
	left: 19px;
}