#add_objects_floating_content {
	position: fixed;
	right: 0;
	bottom: 47px;
	z-index: 1200;
}

#add_objects_floating_icon {
	position: fixed;
	right: 30px;
	bottom: 40px;
	background-color: #f94c59;
	color: #ebebeb;
	padding: 0px;
	border-radius: 50%;
	font-size: 50px;
	width: 60px;
	height: 60px;
	cursor: pointer;
}

#add_objects_floating_icon span {
	font-weight: 100;
	font-family: inherit;
	top: -8px;
	left: 19px;
}

.top_overlay_content {
	position: fixed;
	right: 0px;
	bottom: 130px;
	z-index: 1200;
	color: black;
	width: 210px;
}

.top_overlay_content .row {
	margin-bottom: 17px;
}

.add_object_name {
	direction: rtl;
	width: 120px;
	cursor: pointer;
}

.add_object_img {
	padding: 0px;
	text-align: center;
	position: fixed;
	right: 40px;
}

.add_object_img span {
	background-color: #f94c59;
	padding: 10px;
	color: white;
	border-radius: 50%;
	top: -4px;
	font-size: 19px;
}

.add_object_name label {
	padding: 5px 9px 5px 10px;
	font-weight: 900;
	letter-spacing: 1px;
	background-color: white;
	border-bottom: 1px solid lightgrey;
	cursor: pointer;
}

.add_object_name, .add_object_img {
	float: left;
}

.add_object, .add_object .add_object_name, .add_object .add_object_img {
	cursor: pointer;
}